@model MyGolfScoreApp.Models.HoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Par)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Par)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrokeIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrokeIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
